@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("./NewYear.jpg");
  background-size: cover;
  min-height: 100vh;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

h1 {
    font-weight: normal;
    color: white;
    font-size: 4rem;
    margin-top: 4rem;
}

.countdown-cont{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text {
    color: white;
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.cont-el {
    text-align: center;
}

.cont-el span {
    font-size: 1.5rem;
}
